{% extends "orders/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .image_outer_container{
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 50%;
        position: relative;
       }

       .image_inner_container{
        border-radius: 50%;
        padding: 5px;
        background: #833ab4; 
        background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
        background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
       }
       .image_inner_container img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 5px solid white;
       }

       .image_outer_container .green_icon{
         background-color: #4cd137;
         position: absolute;
         right: 30px;
         bottom: 10px;
         height: 30px;
         width: 30px;
         border:5px solid white;
         border-radius: 50%;
       }
</style>
<div style="margin-bottom: 5%;" class="container-fluid col-md-4 content-below-nav">
  {% if messages%}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div> 
    {% endfor%}
    {% endif %}
    <div class="card p-3 ">
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ p_form|crispy }}
          <button class="btn btn-outline-info" type="submit">Update</button>
      </form>
  </div>
</div>
{% endblock content %}
